<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HeatMap</title>>
  <link rel="stylesheet"  href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>
<body>
    <div>
        <iframe title="social metric" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=105a0842-3fca-434b-948a-477a8b5628f5&autoAuth=true&ctid=ed37866a-aff6-477b-a9fb-083ceca4c052&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div> 

    <center><label ><a href="/menu" style="color:#ffffff; " > <--Ir al Menu</a></label></center>
</body>
</html>
