<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HeatMap</title>>
  <link rel="stylesheet"  href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>
<body>
    <div class="div_turn" >  
            <div  class="table" >
                <img src="/static/images/my_plot.png" width="100%" height="100%">


                </div>
                
                <center><label ><a href="/menu" style="color:#ffffff; " > <--Ir al Menu</a></label></center>
                
    </div> 
</body>
</html>
