<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'><link rel="stylesheet"  href= "{{ url_for('static',filename='styles/style.css') }}">
    
    <meta charset="UTF-8">
    <title>solicitar turno</title>
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="pt-5">
    <h1 class="text-center">Gestion de turno</h1>
    <h2 class="text-center" style="color: #fff ;">Ingrese su Identificacion y luego click en Aceptar</h2>
    
  <div class="container">
                  <div class="row">
                      <div class="col-md-5 mx-auto">
                          <div class="card card-body">
                                                      
                              <form id="submitForm" action="/turn" method="post" data-parsley-validate="" data-parsley-errors-messages-disabled="true" novalidate="" _lpchecked="1"><input type="hidden" name="_csrf" value="7635eb83-1f95-4b32-8788-abec2724a9a4">
                                  <div class="form-group required">
                                      <center><h3 for="cecula">Identificacion</h3></center>
                                      {% if error %}
                                      <center><p style="color:#FF0000";>{{error}}</p></center>
                                      {%endif%}
                                      <input type="text" class="form-control text-lowercase" maxlength="11" minlength="6" placeholder="Sin guion" id="username" name="ident" value=""  required >
                                  </div>   
                                  <div class="form-group required">
                                    <center><lSabel for="description">Servicio a solicitar</lSabel></center>

                                    <div>
                                        <select name="description" class="selectpicker form-control">
                                          <div>
                                            {% for service in services %}
                                            <option value="{{ service.0 }}">{{ service.1}}</option>
                                              {% endfor %}
                                            <!-- <option value="Deposito">Deposito</option>
                                            <option value="Retiro">Retiro</option>
                                            <option value="Remesas">Remesas</option>
                                            <option value="Servicio al Cliente">Servicio al Cliente</option>
                                            <option value="Negocios">Negocios</option>
                                            <option value="Pagos de Servicios">Pagos de Servicios</option> -->
                                         
                                        </div>
                                        </select>

                                      <!-- </div>
                                    
                                    <input type="text" class="form-control text-lowercase" placeholder="Opcional" id="description" required="" name="description" value="" >
                                    </div>  -->
                                  <div class="form-group mt-4 mb-4">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="remember-me" name="remember-me" data-parsley-multiple="remember-me">
                                          
                                      </div>
                                  </div>
                                  <div class="form-group pt-1">
                                      <button class="btn btn-primary btn-block" type="submit">Solicitar turno</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
  </div>
  <!-- partial -->
    
  </body>
</html>